<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %yellow(%marker) %cyan(%logger{15}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- BOOT and STARTUP Level -->
    <turboFilter class="com.qiujie.filter.LogMarkerFilter"/>

    <!-- Log file output directory -->
    <property name="LOG_PATH" value="log"/>

    <property name="STARTUP_CLASS" value="${startup.class:-default}"/>

    <!-- Rolling file appender configuration -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${STARTUP_CLASS}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${STARTUP_CLASS}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %marker %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
