<configuration>
    <property name="LOG_DIR" value="log"/>
    <property name="STARTUP_CLASS" value="${startup.class:-default}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--
          Since System.out is used to return result data and console output normally goes to System.out by default,
          to prevent console messages from contaminating the result data, console information is directed to System.err.
        -->
        <target>System.err</target>
        <encoder>
            <pattern>%white(%d{HH:mm:ss.SSS} [%thread]) %highlight(%-5level) %cyan(%logger{15}) %white(- %msg%n)
            </pattern>
        </encoder>
    </appender>

    <!--    MDC  -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
            <key>sim.id</key>
            <defaultValue>#</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${sim.id}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_DIR}/${STARTUP_CLASS}/${sim.id}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_DIR}/${STARTUP_CLASS}/${sim.id}_%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT"/>
    </appender>

    <appender name="ASYNC_SIFT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="SIFT"/>
    </appender>

    <shutdownHook/>

    <root level="DEBUG">
        <appender-ref ref="ASYNC_STDOUT"/>
        <appender-ref ref="ASYNC_SIFT"/>
    </root>
</configuration>
